In [38]:
import numpy as np
import pandas as pd

In [39]:
nfl_frame = pd.read_csv(open('2.csv'))

In [40]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North

In [41]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [42]:
nfl_frame.Team

0           Chicago Bears
1          Dallas Cowboys
2       Green Bay Packers
3          Miami Dolphins
4    New England Patriots
5     San Francisco 49ers
6        Baltimore Ravens
7       Minnesota Vikings
Name: Team, dtype: object

In [43]:
nfl_frame['First NFL Season']

0    1920
1    1960
2    1921
3    1966
4    1960
5    1950
6    1996
7    1961
Name: First NFL Season, dtype: int64

In [44]:
DataFrame(nfl_frame, columns = ['Team', "First NFL Season", "Total Games"]).head()

                   Team  First NFL Season Total Games
0         Chicago Bears              1920       1,338
1        Dallas Cowboys              1960         850
2     Green Bay Packers              1921       1,304
3        Miami Dolphins              1966         768
4  New England Patriots              1960         852

In [45]:
DataFrame(nfl_frame, columns = ['Team', "First NFL Season", "Total Games", "Score"]).head()

                   Team  First NFL Season Total Games  Score
0         Chicago Bears              1920       1,338    NaN
1        Dallas Cowboys              1960         850    NaN
2     Green Bay Packers              1921       1,304    NaN
3        Miami Dolphins              1966         768    NaN
4  New England Patriots              1960         852    NaN

In [46]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North

In [47]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North

In [49]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                         0.561
First NFL Season              1966
Total Games                    768
Division                  AFC East
Name: 3, dtype: object

In [50]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [51]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,Levi's Stadium
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North,Levi's Stadium
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North,Levi's Stadium

In [52]:
nfl_frame['Stadium'] = np.arange(8)

In [53]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,5
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North,6
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North,7

In [ ]:
# adding series to a DF
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index[7,0])